* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 31.5px;
}

menu {
  display: flex;
  list-style: none;
  column-gap: 72px;
}

.nav_link {
  font-weight: 700;
  height: 27px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;

  color: #ff0000;

  text-transform: uppercase;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

main {
  background: rgba(0, 0, 0, 0.0001);
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin: 49px 253px 38px 253px;

  font-size: 22px;
  line-height: 27px;

  letter-spacing: 3.3px;
  text-transform: uppercase;

  color: #373737;
}

.article1 {
  display: flex;
  text-align: center;

  margin: 35px 67.5px 28px 67.5px;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;

  color: #373737;
}

.article2 {
  display: flex;
  text-align: center;

  margin: 28px 67.5px 66px 67.5px;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;

  color: #373737;
}

.btn {
  display: flex;
  font-family: "Montserrat";
  background: #ff0000;
  color: #ffffff;
  border-radius: 4px;
  border: none;

  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 12px;
  line-height: 12px;

  margin: 66px 544.5px 150px 544.5px;

  width: 191px;
  height: 51px;

  padding: 18px 43.5px;
}

.footer {
  display: flex;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-align: right;

  margin: 82px 105px 29px 713px;

  color: #373737;
}
